In [30]:
import duckdb
import pandas as pd

In [31]:
sql_query = """
show tables
-- select count(*) from parking_violations_2023;
"""

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    display(conn.execute(sql_query).df())

                              name
0   bronze_parking_violation_codes
1        bronze_parking_violations
2                      first_model
3              gold_ticket_metrics
4             gold_vehicle_metrics
5          parking_violation_codes
6          parking_violations_2023
7                        ref_model
8   silver_parking_violation_codes
9        silver_parking_violations
10        silver_violation_tickets
11       silver_violation_vehicles

In [32]:
sql_query = """
select
    violation_code,
    sum(fee_usd) as total_revenue_usd
from
    silver_parking_violation_codes
group by 
    violation_code
having 
    not(total_revenue_usd>=1)
"""

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    display(conn.execute(sql_query).df())

   violation_code  total_revenue_usd
0              41                0.0

In [8]:
sql_query_import_1 = '''
create or replace table parking_violation_codes as
select * from read_csv_auto('data/dof_parking_violation_codes.csv', normalize_names=True)
'''
sql_query_import_2 = '''
create or replace table parking_violations_2023 as
select * from read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv', normalize_names=True)
'''

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    conn.execute(sql_query_import_1)
    conn.execute(sql_query_import_2)

In [33]:
sql_query_import_1 = '''
create or replace table parking_violation_codes as
select * from read_csv_auto('data/dof_parking_violation_codes.csv', normalize_names=True)
'''
sql_query_import_2 = '''
create or replace table parking_violations_2023 as
select * from read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv', normalize_names=True)
'''

with duckdb.connect(database='data/prod_nyc_parking_violations.db') as conn:
    conn.execute(sql_query_import_1)
    conn.execute(sql_query_import_2)

In [18]:
sql_query = """
select * from ref_model
"""

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    display(conn.execute(sql_query).df())

   count_star()
0            97