In [6]:
import duckdb
import pandas as pd

In [19]:
sql_query = """
show tables
-- select count(*) from parking_violations_2023;
"""

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    display(conn.execute(sql_query).df())

                             name
0  bronze_parking_violation_codes
1       bronze_parking_violations
2                     first_model
3         parking_violation_codes
4         parking_violations_2023
5                       ref_model
6  silver_parking_violation_codes
7       silver_parking_violations
8        silver_violation_tickets
9       silver_violation_vehicles

In [23]:
sql_query = """
select * from silver_violation_vehicles limit 10;
"""

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    display(conn.execute(sql_query).df())

,summons_number,registration_state,plate_type,vehicle_body_type,vehicle_make,vehicle_expiration_date,vehicle_color,vehicle_year
0,9010912681,CA,PAS,SUBN,FORD,20220788,BLACK,0
1,4858762841,NY,PAS,4DSD,HONDA,0,GY,2003
2,4854645684,FL,PAS,UT,BMW,0,WHI,2022
3,9044582707,NY,PAS,SUBN,SUBAR,20231217,GY,2017
4,9041503330,NY,PAS,4DSD,CHEVR,20250320,BK,2018
5,8964996320,NY,COM,VAN,CHEVR,88888888,TAN,0
6,9019285804,NY,SRF,SUBN,VOLKS,20240220,GY,2011
7,9000744076,CT,COM,SUBN,LINCO,88888888,BLACK,0
8,4839205334,NY,PAS,SUBN,TESLA,0,RD,2021
9,9006263692,NY,PAS,SUBN,CHEVR,20240323,BK,2017

In [8]:
sql_query_import_1 = '''
create or replace table parking_violation_codes as
select * from read_csv_auto('data/dof_parking_violation_codes.csv', normalize_names=True)
'''
sql_query_import_2 = '''
create or replace table parking_violations_2023 as
select * from read_csv_auto('data/parking_violations_issued_fiscal_year_2023_sample.csv', normalize_names=True)
'''

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    conn.execute(sql_query_import_1)
    conn.execute(sql_query_import_2)

In [18]:
sql_query = """
select * from ref_model
"""

with duckdb.connect(database='data/nyc_parking_violations.db') as conn:
    display(conn.execute(sql_query).df())

   count_star()
0            97